# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Graduation-Design-Note\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
